body {
    background-color: rgb(250, 214, 55);
    height: 100vh;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.Everything {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    /* filter: drop-shadow(7px 7px 0px #000); */
    box-shadow: 7px 7px 0px 0px #000;

}

img {
    border-radius: 20px;
    /* width: 350px; */
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s linear;
}

img:hover{
    transform: translateY(-5px);
}

button {
    background-color: rgb(250, 242, 56);
    border: 0;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bolder;
    border: 1px solid #000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    transform: translateX(3px);
}
#my_pic {
    border-radius: 50%;
    width: 30px;
    margin-bottom: 0%;
}

#name {
    margin-top: 0%;
    margin-left: 0%;
    font-weight: 900;
}

h1{
    margin-block: -8px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}